body {
    font-family: 'Source Code Pro', 'Consolas', 'Courier New', monospace;
    font-size: 12px;
}
#results, #defines {
    float: left;
    width: 40%;
}
.error-result, .result, .define {
    border-radius: 0.5em;
    margin: 0.5em;
}
.error-result {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}
.result {
    background-color: #eeeeff;
    border: 1px solid #0000ff;
}
.error-result .input-expr, .error-result .error-message {
    padding: 0.5em;
}
.error-result .input-expr {
    border-bottom: 1px solid #ff0000;
}
.result .input-expr, .result .output-value {
    padding: 0.5em;
}
.result .input-expr {
    border-bottom: 1px solid #0000ff;
}
.result-batch {
    padding: 0.25em;
    margin: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #0000ff;
    background-color: #fbfbff;
}
.define {
    background-color: #eeffee;
    border: 1px solid #00ff00;
}
.define .define-name, .define .define-value {
    padding: 0.5em;
}
.define .define-name {
    border-bottom: 1px solid #00ff00;
}
.clear {
    clear: both;
}
#artifact {
    clear: both;
    width: 24em;
}
.combo {
    padding-left: 1em;
}
.combo-0 {
    background: #ffdddd;
}
.combo-1 {
    background: #ffcccc;
}
.combo-2 {
    background: #ffbbbb;
}
.combo-3 {
    background: #ffaaaa;
}
.atom {
    padding: 0.1em;
    margin-bottom: 0.1em;
}
.atom-0 {
    border-bottom: 1px solid #ff0000;
}
.atom-1 {
    border-botom: 1px solid #00ff00;
}
.atom-2 {
    border-bottom: 1px solid #0000ff;
}
.atom-3 {
    border-bottom: 1px solid #00ffff;
}